@import "_mixin-media-queries";

$photo-border-color: #83c1f5;
$photo-background-color: #c0c0c0;

.photo {
	@include responsive(small-screens) {
		width: 40%;
		float: none;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-bottom: 1em;
	}
	width: 17%;
	float: left;
	border: 9px solid $photo-border-color;
	border-radius: 1000px;
	background-color: $photo-background-color;
	position: relative;
	top: 1em;
}
