.star-button {
	fill: rgba(#000, 0.16);
	float: right;
}
div.stars-box {
	margin-left: -10px;
	display: inline-block;
	.slds-button:hover, .slds-button:focus {
		fill: #ff9a3c;
	}
	.slds-button:hover ~ .slds-button, .slds-button:focus ~ .slds-button {
		fill: #ff9a3c;
	}
}
a.slds-button {
	margin-right: -10px;
	&:focus {
		box-shadow: none !important;
	}
}
a.last-star {
	margin-left: 5px;
}