.star-button {
	fill: rgba(#000, 0.16);
	float: right;
}
div.stars-box {
	margin-left: -10px;
	display: inline-block;
	button.slds-button:hover, button.slds-button:focus {
		fill: #ff9a3c;
	}
	button.slds-button:hover ~ button.slds-button, button.slds-button:focus ~ button.slds-button {
		fill: #ff9a3c;
	}
}
button.slds-button {
	margin-right: -12px;
	&:focus {
		box-shadow: none !important;
	}
}
button.last-star {
	margin-left: 5px;
}
